<div class="p-4">
  <h2 class="text-xl font-semibold mb-4">Chat Partners</h2>

  <!-- Partners list -->
  <ul class="space-y-1">
    <li *ngFor="let partner of partners"
        class="rounded-md py-2 cursor-pointer pl-3"
        [ngClass]="{'bg-blue-900': partner.email === activePartner, 'hover:bg-slate-800': partner.email !== activePartner}"
        (click)="setActiveChat(partner.email)">
      {{ partner.name }}
    </li>
  </ul>

  <!-- No partners message -->
  <div *ngIf="partners.length === 0" class="text-gray-500 mb-4">
    Senki sincsen online... :(
  </div>
</div>
