<div class="flex flex-col h-full w-full pb-16">
  <div
    *ngIf="activePartner"
    #messagesContainer
    class="flex-1 overflow-y-auto mb-4 px-4"
  >
    <ul class="flex flex-col space-y-4">
      <li
        *ngFor="let message of messages"
        [ngClass]="{
          'bg-slate-800 text-white self-start': !isCurrentUser(
            message.senderEmail
          ),
          'bg-light-gold text-slate-800 self-end': isCurrentUser(
            message.senderEmail
          ),
        }"
        class="rounded-xl px-4 py-1 inline-block w-fit"
      >
        <p class="text-lg">{{ message.message }}</p>
        <p class="text-xs opacity-70 mt-1">
          {{ message.timestamp | date: "short" }}
        </p>
      </li>
    </ul>
  </div>
  <div
    *ngIf="!activePartner"
    class="flex-1 flex items-center justify-center text-gray-500"
  >
    Select a chat partner to start messaging
  </div>
</div>
<div *ngIf="activePartner" class="px-4 pb-4 fixed bottom-0 left-400 w-96">
  <textarea
    #messageInputField
    rows="1"
    [(ngModel)]="messageInput"
    class="w-full text-lg rounded-xl text-gray-300 p-3 border border-gray-300 focus:outline-none focus:border-blue-500 bg-slate-800"
    (keydown.enter)="sendMessage($event)"
    placeholder="Írj egy üzenenet..."
  ></textarea>
</div>
